<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Dropdown item</a></li>
    <li><a class="dropdown-item" href="#">Dropdown item</a></li>
    <li><a class="dropdown-item" href="#">Dropdown item</a></li>
  </ul>
</div>

<%= turbo_stream_from "messages" %>

<%= turbo_frame_tag "contact-us-form" do %>
  <%= link_to 'Contact Us', contact_us_new_path %>
<% end %>

<div id="messages">
  <% @messages.each do |message| %>
    <%= render partial: 'contact_us/message', locals: { message: message } %>
  <% end %>
</div>
